* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  width: 1000px;
  height: auto;

  display: grid; /*იქმნება ჰორიზონტალური სიგრძე ელემენტები რაც მოთავსებულია კონტეინერში გრიდის მეშვეობით ისინი გადაინაწილებენ ზომებს და მთელ კონრეინერს დაიკავებენ თანაბარ ზომებში*/
  grid-template-columns: repeat(
    4,
    1fr
  ); /*აქ უკვე ვეუბნებით თუ რამდენი ვერტიკალური სვეტი უნდა იყოს ზემოდან ქვემოთ რეფითს გადავცემთ თუ რამდენი გამეორება უნდა მოხდეს და შემდეგ რამდენი სვეტის ზომა გამეორდეს ანუ 1fr არსებული ელემენტები მოსავსდება თანაბარ ზომებში ანუ 6 ელემენტს ექნება თანაბარი ზომა და შეავსებს მთელ კონტეინერს*/
  gap: 20px; /*გაპი აკეთებს დაშორებას სევეტებში და მწკრივებში მას შეგვიძლია გადავცეთ მაგალითად მწკრივებში იყოს 10პიქსელი და სვეტებში 5პიქსელი მაგრამ თუ ერთ ბრძანებას გადავცემთ ის ავტუმატურად იმოქმედებს სვეტებზეც და მწკრივებზეც*/
}

section {
  font-size: 40px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid black;
}

section img {
  width: 100%;
  height: 100%;
}

.grid-1 {
  grid-column-start: 1; /*იმუშავენს სვეტებზე 1-ლი სვეტიდან დაიწყებს*/
  grid-column-end: 3; /*და დასრულდება 3-ამდე ანუ მე-2 სვეტს დაიკავებს ესეიგი დაიკავებს ორ სვეტს */

  grid-row-start: 1; /*იმუშავენს მწკრივებზე ანუ ვერტიკალურად 1-ლი მწკრივიდან დაიწყებს*/
  grid-row-end: 3; /*და დასრულდება 3-ამდე ანუ მე-2 მწკრივს დაიკავებს ესეიგი დაიკავებს ორ მწკრივს და საბოლოო ჯამში 2 სვეტი და ორი მწკირვი გაერთიანდება და გამოვა 4 კუბიკი */

  grid-column: 1 / 3; /*აქაც იგივე ორონდ ვწერთ შემოკლებით 1-დან დაიწყოს სვეტი შემდეგ დახრილი ხაზი და სად დასრულდეს ქოლამნ სტარტი და ქოლამნ ენდის გაერთიანება*/

  grid-row: 1 / 3; /*აქაც იგივე ორონდ ვწერთ შემოკლებით 1-დან დაიწყოს მწკრივი შემდეგ დახრილი ხაზი და სად დასრულდეს როუ სტარტი და როუ ენდის გაერთიანება*/
}

.grid-2 {
  grid-column: 1 / 4; /*პირველი სვეტიდან 4 ამდე გაიზარდოს ანუ 3*/

  grid-row: 3; /*დაიწყოს მესამე სვეტიდან*/
}

.grid-5 {
  grid-column: 4; /*დაიწყოს 4-ე სვეტიდან*/

  grid-row: 2 / 4; /*დაიწყოს 2 მწკრივიდან და გაიზარდოს 4 ამდე ანუ 3*/
}
