* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
}

.main-container {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(216, 50%, 16%);
}

.img-div {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 10px;
}

.img-div img {
  width: 100%;
  height: 100%;
}

.bottom-div {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-div h2 {
  font-size: 25px;
  transition: all 0.3s linear;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.bottom-div h2:hover {
  color: hsl(178, 100%, 50%);
}

.bottom-div p {
  font-size: 18px;
  cursor: pointer;
  color: hsl(215, 32%, 27%);
}

.flex-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.span-1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.span-2 {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
  cursor: pointer;
  color: hsl(215, 32%, 27%);
}

.line {
  width: 100%;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.img-text {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-text img {
  width: 30px;
}

.span-3 {
  display: flex;
  gap: 7px;
}

#color-1 {
  font-size: 18px;
  cursor: pointer;
  color: hsl(215, 32%, 27%);
}

#color-2 {
  font-size: 18px;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #fff;
}

#color-2:hover {
  color: hsl(178, 100%, 50%);
}

img {
  cursor: pointer;
}
