* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

main {
  height: 200vh;
  display: flex;
  justify-content: space-between;
}

div {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: navy;
}

.div-1 {
  position: static; /* თუ მას უწერია სტატიკი ის იქნება ჩვეულებრივ პოზიციაზე სადაც იყო როცა არაფერი უწერია ის არის სტატიკ მდგომარეობაში ვერც გადაადგილებთ  */
  /* top: 0; */
  /* left: 0; */
}

.div-2 {
  position: relative; /* თუ ელემენტს ვუწერთ რელათივს ელემენტი იწყებს თავისივე ადგილიდან მოძრაობას ნებისმიერ წერტილში სადაც ჩვენ გვინდა იქ */
  /* top: 0; */
  /* left: 0; */
}

.div-3 {
  position: absolute; /* აფსოლუტი ხდება დამოუკიდებელი და მას როდესაც გავუწერთ ჩვენ ელემენტს ის იწყებს საიტის მარცხენა ზედა კუთხიდან მოძრაობას ანუ ბადის ეწეპება იმ შემთხვევაში თუ მის მშორებელს ან უახლოეს არ უწერია რელათივი და თუ უახლოეს არ უწერია რელათივი ის ბადის ეკრობა ანუ საიტიხ მარცხენა ზედა კუთხეში */
  /* top: 0; */
  /* left: 0; */
}

.div-4 {
  position: fixed; /* ფიქსირებული ის სულ ყოველთვის იქნება ერთი პოზიციაზე იქნება გაშეშებული რაც არუნდა ჩამოსქროლო ნებისმიერ ადგილას გავაშეშებთ */
  /* top: 0; */
  /* left: 0; */
}

.div-5 {
  position: sticky; /* სტიკი ელემენტი არის ჩვეულებრივ პოზიციაზე როგორც რელატივი მაგრამ როცა სქროლი მოიუხლოვდება სქროლს გაჰყვება ის არის fixed-relative ნაერთი კომბინაცია */
  /* top: 0; */
  /* left: 0; */
}
